.elementor-767 .elementor-element.elementor-element-d39301d > .elementor-container{max-width:1280px;}.elementor-767 .elementor-element.elementor-element-d39301d > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-end;align-items:flex-end;}.elementor-767 .elementor-element.elementor-element-d39301d{padding:20px 50px 20px 50px;}.elementor-767 .elementor-element.elementor-element-ca492af .woocommerce-breadcrumb{color:var( --e-global-color-text );font-family:"Helvetica", Sans-serif;font-size:16px;font-weight:700;}.elementor-767 .elementor-element.elementor-element-ca492af .woocommerce-breadcrumb > a{color:var( --e-global-color-text );}.elementor-767 .elementor-element.elementor-element-7ebb742 > .elementor-container{max-width:1280px;}.elementor-767 .elementor-element.elementor-element-7ebb742{padding:0px 50px 40px 50px;}.woocommerce .elementor-767 .elementor-element.elementor-element-613b2e5 .woocommerce-product-gallery__trigger + .woocommerce-product-gallery__wrapper,
					.woocommerce .elementor-767 .elementor-element.elementor-element-613b2e5 .flex-viewport{border-radius:8px 8px 8px 8px;}.woocommerce .elementor-767 .elementor-element.elementor-element-613b2e5 .flex-viewport:not(:last-child){margin-bottom:10px;}.woocommerce .elementor-767 .elementor-element.elementor-element-613b2e5 .flex-control-thumbs img{border-radius:8px 8px 8px 8px;}.woocommerce .elementor-767 .elementor-element.elementor-element-613b2e5 .flex-control-thumbs li{padding-right:calc(10px / 2);padding-left:calc(10px / 2);padding-bottom:10px;}.woocommerce .elementor-767 .elementor-element.elementor-element-613b2e5 .flex-control-thumbs{margin-right:calc(-10px / 2);margin-left:calc(-10px / 2);}.elementor-767 .elementor-element.elementor-element-27a7267 .elementor-heading-title{color:var( --e-global-color-text );font-family:var( --e-global-typography-900a50a-font-family ), Sans-serif;font-size:var( --e-global-typography-900a50a-font-size );font-weight:var( --e-global-typography-900a50a-font-weight );line-height:var( --e-global-typography-900a50a-line-height );letter-spacing:var( --e-global-typography-900a50a-letter-spacing );}.elementor-767 .elementor-element.elementor-element-9daf3fb .cart button{font-family:"Helvetica", Sans-serif;font-size:16px;font-weight:700;line-height:1em;border-radius:8px 8px 8px 8px;padding:10px 20px 10px 20px;color:var( --e-global-color-f27312d );background-color:var( --e-global-color-accent );transition:all 0.2s;}.elementor-767 .elementor-element.elementor-element-9daf3fb .quantity .qty{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );border-radius:8px 8px 8px 8px;color:var( --e-global-color-secondary );border-color:#C4C4C4;transition:all 0.2s;}.woocommerce .elementor-767 .elementor-element.elementor-element-9daf3fb form.cart table.variations label{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.woocommerce .elementor-767 .elementor-element.elementor-element-9daf3fb form.cart table.variations td.value:before{background-color:var( --e-global-color-e877d70 );}@media(max-width:1024px) and (min-width:768px){.elementor-767 .elementor-element.elementor-element-3641599{width:100%;}.elementor-767 .elementor-element.elementor-element-9d90587{width:100%;}.elementor-767 .elementor-element.elementor-element-f707b90{width:100%;}.elementor-767 .elementor-element.elementor-element-a3358d5{width:100%;}}@media(max-width:1024px){.elementor-767 .elementor-element.elementor-element-d39301d{padding:20px 40px 20px 40px;}.elementor-767 .elementor-element.elementor-element-7ebb742{padding:0px 40px 40px 40px;}.elementor-767 .elementor-element.elementor-element-27a7267 .elementor-heading-title{font-size:var( --e-global-typography-900a50a-font-size );line-height:var( --e-global-typography-900a50a-line-height );letter-spacing:var( --e-global-typography-900a50a-letter-spacing );}.elementor-767 .elementor-element.elementor-element-9daf3fb .quantity .qty{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.woocommerce .elementor-767 .elementor-element.elementor-element-9daf3fb form.cart table.variations label{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}@media(max-width:767px){.elementor-767 .elementor-element.elementor-element-d39301d{padding:20px 15px 20px 15px;}.elementor-767 .elementor-element.elementor-element-7ebb742{padding:0px 15px 40px 15px;}.elementor-767 .elementor-element.elementor-element-27a7267 .elementor-heading-title{font-size:var( --e-global-typography-900a50a-font-size );line-height:var( --e-global-typography-900a50a-line-height );letter-spacing:var( --e-global-typography-900a50a-letter-spacing );}.elementor-767 .elementor-element.elementor-element-9daf3fb .quantity .qty{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.woocommerce .elementor-767 .elementor-element.elementor-element-9daf3fb form.cart table.variations label{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}/* Start custom CSS for woocommerce-breadcrumb, class: .elementor-element-ca492af */.elementor-767 .elementor-element.elementor-element-ca492af nav.woocommerce-breadcrumb a{
    font-weight: 400 !important;
}

.elementor-767 .elementor-element.elementor-element-ca492af nav.woocommerce-breadcrumb{
    margin: 0px !important;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-add-to-cart, class: .elementor-element-9daf3fb *//* Global */

.elementor-767 .elementor-element.elementor-element-9daf3fb *{
    font-family: 'Helvetica', sans-serif !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .variations_form label{
    color: #1E1E1E !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .variations_form select{
    background: #F4F4F4 !important;
    border: none !important;
    border-radius: 8px !important;
    margin: 5px 0 0 0 !important;
    padding: 8px 16px !important;
    color: #555252 !important;
}

/* Content */

.elementor-767 .elementor-element.elementor-element-9daf3fb .variations_form .variations{
    margin: 0px 0px 20px 0px !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .variations_form .variations a, 
.elementor-767 .elementor-element.elementor-element-9daf3fb .variations_form .woocommerce-variation-price{
    display: none !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .variations_form .variations td{
    background: none !important;
    padding: 0px !important;
    margin: 0px !important;
    display: block;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .single_variation_wrap .wc-pao-addon-container{
    padding: 0px !important;
    margin: 0px 0px 20px 0px !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .single_variation_wrap .wc-pao-addon-container .form-row{
    padding: 0px !important;
    margin: 0px !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .single_variation_wrap .wc-pao-addon-container small{
    display: none;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .single_variation_wrap .product-addon-totals{
    padding: 20px 0px !important;
    margin: 0 !important;
    border: none !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .single_variation_wrap .product-addon-totals ul{
    padding: 0px !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .single_variation_wrap .wc-pao-subtotal-line{
    padding: 10px 0 !important;
    border-top: 1px solid #C4C4C4 !important;
    border-bottom: 1px solid #C4C4C4 !important;
}

.elementor-767 .elementor-element.elementor-element-9daf3fb .single_variation_wrap .price{
    font-weight: 700 !important;
    color: #1E1E1E;

}/* End custom CSS */